
h1 {
	color:#FDFDFD;
}


h2{ 
	color:#FDFDFD;
}
body{
    background-color: #0B59A4;
}

ul{
	text-decoration: #none;
}
header{
	text-align: center;
	margin-left: 200;
	position: fixed;
}
team{
	right: 200;
}