
h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 70px;
	color:#FDFDFD;
}


h2{ 
	color:#FDFDFD;
}
body{
    background-color: #0B59A4;
	}

ul{
	text-decoration: #none;
}
#header{
	margin: 300px 300px; 
	position: fixed;
}
#team{
	margin: 375px 750px; 
		position: fixed;
}
#clothing{
	position: fixed;
	margin: 375px 600px; 
}

#DNC{
	position: fixed;
	margin: 375px 450px; 
}
#gametype{
	position: fixed;
	margin: 375px 300px; 
}
#secondpart{
	margin: 200px 600px; 
}